* {
 padding: 0;
 margin: 0;
}
.header {
    height: 1000px;
    max-width: 100%;
    background: url(/14.jpeg)   no-repeat;
    background: url(/1.jpeg)   no-repeat;
    background-size: 100% ;
    flex-wrap: wrap;
    padding-top: 20px;
    animation: bg-сhange 100s infinite;
    animation-timing-function: linear;
    
}

.menu{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.menu a{
    color:white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2.8px;
    margin-right: 80px;
}
.menu a:last-child{
    margin-right: 0;
}
.header-text{
    text-align: center;
    margin-top: 90px;
}
.header-text h1{
    color: white;
    font-size: 30px;
    letter-spacing: 3.8px;
}
.header-text p {
    color: white;
    font-size: 30px;
    letter-spacing: 3.8px;

}
.header button{
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin-top: 15px;
    padding: 10px 10px;
    background-color: transparent;
    border: 2px solid white;
    transition: ease-in.25s all;
}
.header button:hover{
    background-color: black;
    border: 2px solid white;
    border-color: white;
}